body {
    font-family: Arial, sans-serif;
    background-color: #010;
    margin: 0;
    padding: 0;
}
body h2, h3{
    color: #eee;
}
body p, ul{
    color: #ddd;
}
body a{
    color: #dd0;
    text-decoration: none;
}
body a:hover{
    color: #dd0;
    text-decoration: underline;
}
header {
    background-color: #353;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header h1,a{
    color: #dd0;
    text-decoration:none;
}
nav {
    background-color: #464;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    width: 50%;
    margin: auto;
    padding: 20px;
}
.footer {
    background-color: #242;
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
#contact {
    width: 60%;
    margin: auto;
    padding: 20px;
}
.navElement {
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.navElement h2 {
    margin-bottom: 10px;
}
.navElement p {
    margin-bottom: 10px;
}
